.hidden {
    display: none;
}

[data-tc="file-uploader"] {
    background: #111927;
    color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    width: 100%;
    max-width: 650px;
    border-radius: 3px;
}

[data-tc="upload-panel"] {
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-items: center;
}


.tc-upload-panel__inputs{
    display: flex;
    align-items: center;
}

.tc-upload-panel__btn{
    background: #304DAB;
    display: inline-block;
    cursor: pointer;
    padding: 0.7rem 2rem;
    border-radius: 1rem;
    margin-right: 1rem;
    transition: 0.5s background-color;
}

.tc-upload-panel__btn:hover{
    background: #213A8A;
}

.is-dragover{
    background-color: #2b3850;
    border: 0;
}

[data-tc="preview-panel"] {

}